.menu-btn {
  display: block;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 3px;
}

button.menu-btn {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  text-align: left;
}

a.menu-btn {
  outline: 0 none;
  text-decoration: none;
}
.menu-btn .fa {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

/* .menu-item:hover >  */
.menu-btn:hover {
  color: #fff;
  outline: none;
  background-color: #2e3940;
  background: linear-gradient(to bottom, #5d6d79, #2e3940);
  border: 1px solid #2e3940;
}

.menu-item-disabled .menu-btn {
  cursor: default;
}
