input {
  padding: 5px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
}
input[type='submit'] {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
input[type='submit']:hover {
  background-color: white;
}
