/* .sidebar_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 230px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
} */
.sidebar_logo {
  margin: 15px 0;
  font-size: 18px;
  width: 100%;
  font-weight: 300;
  text-align: center;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.sidebar {
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #f1f6fa;
  background-color: var(--sidebar-bg-color, #002b49);
  color: var(--sidebar-color, #f6f6e9);
  overflow-y: auto;
  position: absolute;
}

.sidebar_nav {
  padding: 30px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
}

.sidebar_nav a {
  display: flex;
  transition: all 0.35s ease;
}
.sidebar_nav a.active {
  color: var(--sidebar-item-active-color, #f6f6e9);
  font-weight: 700;
  white-space: nowrap;
}

.sidebar_nav a:hover {
  color: var(--sidebar-icon-bg, #5cb0ff);
  background-color: var(--sidebar-item-hover-bg-color, #042338);
}
.links_group {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
}
a.links_group {
  padding: 1rem;
  padding-left: 25px;
}
.links_group a {
  padding: 10px 20px 10px 26px;
}
.sidebar_nav ul {
  background: var(--sidebar-action-bg, #042338);
  padding: 1rem;
}
.sidebar_nav ul li {
  list-style: none;
}
.show {
  display: block;
}
.collapse {
  display: none;
}

.links_group .header_link > a {
  position: relative;
  align-items: center;
  padding-left: 50px;
  line-height: 35px;
  border-top: 1px solid transparent;
}
